.password__title {
    font-size: 24px;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
  
  .password__body {
    display: flex;
    flex-direction: column;
  }
  
  .password__input {
    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 0px;
  }
  
  .password__input > input {
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid gray;
    flex: 0 1 40%;
  }
  
  .password__hints {
    display: flex;
  }
  
  .password__hints.small > * {
    background-color: red;
  }
  .password__hints.good > * {
    background-color: green;
  }
  
  .password__section {
    align-self: center;
    width: 40%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    min-width: 93px;
    transition: all .5s ease 0s;
  }
  
  .password__section-easy.err{
    background-color: red;
  }

  .password__section-medium.err, .password__section-easy_orange {
    background-color: orange;
  }
  
  .password__section:not(:last-child) {
    margin: 0px 5px 0px 0px;
  }